<div class="col-12 col-lg-3">
    <div class="d-block d-sm-none mb-3" id="profile-nav-h">
        <p class="mb-2 mt-5 text-muted">Menu</p>
        <ul>
            <li><a href="{{ 'update_profile' }}">Edit</a></li>
            <li><a href="{{ 'orders' }}">Orders</a></li>
            <li><a href="#contact">Community</a></li>
            <li><a href="#about">Update</a></li>
        </ul>
    </div>
    <div class="d-none d-lg-block" id="profile-nav-v">
        <p class="mb-2 text-muted">Menu</p>
        <ul>
            <li><a href="{{ 'update_profile' }}">Edit</a></li>
            <li><a href="{{ 'orders' }}">Orders</a></li>
            <li><a href="#contact">Community</a></li>
            <li><a href="#about">Update profile</a></li>
        </ul>
    </div>
</div>