{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container mb-2">
        <div class="row margin-top">
            <div class="col">
                <h2 class="margin-top logo-font"><i class="fa-solid fa-bag-shopping"></i> Shopping Bag</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col">
                {% if bag_items %}
                    <!-- table for larger screens -->
                    {% include "bag/bag-lg-screens.html"%}
                    <!-- table for smaller screens -->
                    {% include "bag/bag-sm-screens.html"%}
                {% else %}
                    <p class="lead mb-5">Your bag is empty.</p>
                    <a href="{% url 'products' %}" class="btn btn-outline-dark btn-lg">
                        <span class="icon">
                            <i class="fas fa-chevron-left"></i>
                        </span>
                        <span class="text-uppercase">Keep Shopping</span>
                    </a>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{% block postloadjs %}
{{ block.super }}

<script>
    $('.btt-link').click(function(e) {
        window.scrollTo(0,0)
    })
</script>

{% include 'products/includes/quantity_input_script.html' %}

<script>
    $(document).ready(function() {
        // Update quantity on click
        $('.update-link').click(function(e) {
            var form = $(this).prev('.update-form');
            form.submit();
        });

        // Remove item and reload on click
        $('.remove-item-form').submit(function(e) {
            e.preventDefault();
            var form = $(this);
            var url = form.attr('action');
            var csrfToken = form.find('[name="csrfmiddlewaretoken"]').val();

            $.ajax({
                type: 'POST',
                url: url,
                data: {
                    csrfmiddlewaretoken: csrfToken
                },
                success: function(response) {
                    location.reload();
                },
                error: function(response) {
                    alert('Error removing item.');
                }
            });
        });


        // Disable decrement button if quantity is 1
        $('.decrement-qty').each(function() {
            var input = $(this).closest('.input-group').find('.qty_input');
            if (input.val() <= 1) {
                $(this).prop('disabled', true);
            }
        });

        // Handle increment and decrement buttons
        $('.increment-qty, .decrement-qty').click(function(e) {
            e.preventDefault();
            var input = $(this).closest('.input-group').find('.qty_input');
            var currentValue = parseInt(input.val());

            if ($(this).hasClass('increment-qty')) {
                if (currentValue < parseInt(input.attr('max'))) {
                    input.val(currentValue + 1);
                    $(this).closest('.input-group').find('.decrement-qty').prop('disabled', false);
                }
            } else if ($(this).hasClass('decrement-qty')) {
                if (currentValue > parseInt(input.attr('min'))) {
                    input.val(currentValue - 1);
                    if (currentValue - 1 == parseInt(input.attr('min'))) {
                        $(this).prop('disabled', true);
                    }
                }
            }
        });

        // Check on input change
        $('.qty_input').on('input', function() {
            var input = $(this);
            var currentValue = parseInt(input.val());

            if (currentValue <= parseInt(input.attr('min'))) {
                input.val(input.attr('min'));
                input.closest('.input-group').find('.decrement-qty').prop('disabled', true);
            } else {
                input.closest('.input-group').find('.decrement-qty').prop('disabled', false);
            }

            if (currentValue >= parseInt(input.attr('max'))) {
                input.val(input.attr('max'));
            }
        });
    });
</script>

{% endblock %}
