{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- home page first section -->
    <div class="container-fluid fst-section mt-5">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-sm-4 text-center mt-4">
                <h1>Welcome to <br>Drawing Gratitude!<br></h1>
                <p>My name is Nathalia and I sell my art! <br> You can see (and buy) my drawings here:</p>
                <a href="{% url 'products' %}" class="btn btn-dark btn-home"><i class="fa-solid fa-bag-shopping fa-shake"></i><br> start shopping</a>
            </div>
            <div class="col-12 col-md-6 col-sm-4 mt-4 text-center">
                <a href="{% url 'about_me' %}">
                    <img src="{{ MEDIA_URL }}home/knowme.png" alt="get to know me" class="knowme-image">
                </a>
            </div>
        </div>
    </div>
    <div class="container-fluid md-offers-section">
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-sm-4 margin-offers-text text-center">
                <h2>But let me tell you a secret:<br><br><span class="text-uppercase offers-text">every month<br></span><br> 
                    I have super special offers <br>on selected products! <br> Click here to check it out! 
                    <i class="fa-solid fa-arrow-down"></i>
                </h2>
            </div>
            <div class="col-12 col-md-6 col-sm-4 margin-offers-image text-center">
                <a href="{% url 'products' %}?offers=True">
                    <img src="{{ MEDIA_URL }}home/offers.png" alt="get to know me" class="offers-image">
                </a>
            </div>
        </div>
    </div>
    <!-- home page second section -->
    <div class="container-fluid scd-section">
        <div class="row">
            <div class="col-12 col-md-4 margin-offers-image">
                <a href="{% url 'products' %}?offers=True">
                    <img src="{{ MEDIA_URL }}home/offers.png" alt="get to know me" class="offers-image">
                </a>
            </div>
            <div class="col-12 col-md-4 text-center margin-offers-text">
                <h2>But let me tell you a secret:<br><br><span class="text-uppercase offers-text">
                    every month<br></span><br> I have super special offers on selected products!
                </h2>
            </div>
        </div>
    </div>

    <!-- home page third section -->
    <div class="container-fluid trd-section">
        <div class="row text-center ">
            <i class="fa-solid fa-users fa-beat fa-2xl"></i><br>
            <p class="mb-5">
                Enhance your shopping experience and unlock exclusive features by joining our vibrant community! <br>
                Click here and start exploring!<br>
            </p>
            <i class="fa-solid fa-circle-arrow-down fa-xl"></i>
            <a href="{% url 'community' %}">
                <img src="{{ MEDIA_URL }}home/community.png" alt="community" class="home-community">
            </a>
        </div>
    </div>

    <!-- home page fourth section -->
    <div class="container-fluid fth-section">
        <div class="row text-center">
            <i class="fa-regular fa-newspaper fa-flip fa-2xl"></i><br>
            <p> Explore captivating insights about art <br> and discover inspiration to enrich your life with creativity. 
                <br>Dive into my blog, where you'll find thought-provoking articles <br>
                that delve into the world of art:
            </p>
            <a href="{% url 'blog' %}">
                <img src="{{ MEDIA_URL }}home/whyart.png" alt="why art blog" class="why-art">
            </a>
        </div>
    </div>
{% endblock %}