{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col mt-5 ">
                <h2 class="text-center mb-4"><i class="fa-solid fa-bag-shopping"></i> Orders</h2>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <p class="text-muted text-center"><i class="fa-solid fa-clock-rotate-left"></i>Order History</p>
                <div class="order-history table-responsive">
                    <table class="table table-sm table-borderless table-striped">
                        <thead>
                            <tr>
                                <th class="text-center">Products<hr></th>
                                <th>Order Details<hr></th>
                                <th>Order Total<hr></th>
                                
                            </tr>
                        </thead>
                        <tbody>
                            {% for order in orders %}
                                <tr>
                                    <td class="text-center">
                                        {% for item in order.lineitems.all %}
                                            <li >
                                                <a href="{% url 'order_history' order.order_number %}" title="{{ order.order_number }}">
                                                    <img src="{{ item.product.image.url }}" class="order-img img-thumbnail" >
                                                </a>
                                            </li>
                                        {% endfor %}
                                    </td>
                                    <td>
                                        Order number
                                        <a href="{% url 'order_history' order.order_number %}"
                                        title="{{ order.order_number }}">
                                            {{ order.order_number|truncatechars:6 }}<br>
                                        </a>
                                        <br>
                                        <span class="small"> Date: {{ order.date }} <br></span>
                                        <span class="small">Items: <br></span>
                                        <ul>
                                            {% for item in order.lineitems.all %}
                                                <li class="small">
                                                    <i class="fa-solid fa-asterisk fa-xs"></i> {{ item.product.name }} x{{ item.quantity }}
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </td>
                                    <td><i class="fa-solid fa-euro-sign"></i> {{ order.grand_total }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <a class="btn btn-outline-dark mb-2 mt-2" href="{% url 'profile' %}">Back to profile</a>
            </div>
            
        </div>
    </div>

{% endblock %}
