{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <h1 class="text-center margin-top mb-2"><i class="fa-solid fa-user"></i><br>{{ user_info.user.username }}'s Profile</h1>
            <hr>
        </div>
        <div class="row">
            <div class="col-12 col-sm-2">
                <!-- navbar -->
                {% include 'includes/profile_navbar.html' %}
                <!-- navbar -->
            </div>
            <div class="col-12 col-sm-8">
                <p class="text-muted default-text text-center"><i class="fa-solid fa-circle-info fa-lg"></i> Your details</p>
                <div class="m-5">
                    <p><i class="fa-solid fa-user"></i> Username: {{ user_info.user.username }}</p>
                    <p><i class="fa-solid fa-envelope"></i> Email: {{ user_info.user.email }}</p>
                    <p><i class="fa-solid fa-phone"></i> Phone Number: {{ user_info.default_phone_number }}</p>
                </div>
                <p class="text-muted default-text text-center"><i class="fa-solid fa-truck fa-lg"></i> Default Delivery Information</p>
                <table class="table table-hover profile-table m-5">
                    <tbody>
                    <tr>
                        <th>Street Address 1:</th>
                        <td>{{ user_info.default_street_address1 }}</td>
                    </tr>
                    <tr>
                        <th>Street Address 2:</th>
                        <td>{{ user_info.default_street_address2 }}</td>
                    </tr>
                    <tr>
                        <th>County:</th>
                        <td>{{ user_info.default_county }}</td>
                    </tr>
                    <tr>
                        <th>Country:</th>
                        <td>{{ user_info.default_country }}</td>
                    </tr>
                    <tr>
                        <th>Postal Code:</th>
                        <td>{{ user_info.default_postcode }}</td>
                    </tr>
                    </tbody>
                </table>
                <a href="{% url 'update_profile' %}" class="btn btn-dark btn-profile">Update delivery information</a>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script src="{% static 'profiles/js/countryfield.js' %}"></script>
{% endblock %}
