{% extends "base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-4">
            <div class="col mt-5">
                <h2 class="text-center logo-font"><i class="fa-solid fa-users"></i><br>Community Suggestion</h2>
                <hr>
                <p class="text-center"> Feel free to send me your drawing suggestions here.<br>
                    Every month, I'll randomly select one suggestion to bring to life!<br>
                    If your suggestion is chosen, you'll receive a free copy!<br>
                    The community suggestion drawing will cost only <i class="fa-solid fa-euro-sign fa-xs"></i>10.<br>
                </p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-8 col-md-6">
                <form method="post" class="mt-5">
                    {% csrf_token %}
                    {{ form|crispy }}
                    <a class="btn btn-outline-dark mb-2 mt-2" href="{% url 'profile' %}">Back to profile</a>
                    <button type="submit" class="btn btn-dark mb-2 mt-2">Submit Recommendation</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}




