{% extends "base.html" %}
{% load static %}

{% block extra_css %}
    <link rel="stylesheet" href="{% static 'checkout/css/checkout.css' %}">
{% endblock %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row mt-5 text-center">
            <div class="col">
                <h1 class="logo-font mt-4"><i class="fa-regular fa-handshake"></i> Thank You for ordering!</h1>
                <p class="text-dark">Your order information is below. A confirmation email will be sent to <strong>{{ order.email }}</strong>.</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-12 col-md-6 col-lg-4">
                <div class="order-confirmation-wrapper p-2 border">
                    <div class="row">
                        <div class="col-12">
                            <p class="text-uppercase text-bold"><i class="fa-solid fa-circle-info"></i> Order Number - {{ order.order_number }}</p>
                            <small class="m-0 text-dark">On {{ order.date }}</small>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-uppercase text-muted"><i class="fa-solid fa-rectangle-list"></i> Order Details:</p>
                        </div>
                    </div>
                    {% for item in order.lineitems.all %}
                        <div class="row">
                            <div class="col-12">
                                <p class="small mb-0 text-dark fw-bold">
                                    - {{ item.product.name }} : {{ item.quantity }} @ <i class="fa-solid fa-euro-sign"></i> {{ item.product.price }} each
                                </p>
                            </div>
                        </div>
                    {% endfor %}
                    <hr>
                    <div class="row">
                        <div class="col">
                            <p class="text-uppercase text-muted"><i class="fa-solid fa-truck"></i> Delivering To:</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 ">
                            <small class="mb-0 text-dark fw-bold">Full Name: {{ order.full_name }}</small><br>
                            <small class="mb-0 text-dark fw-bold">Address 1: {{ order.street_address1 }}</small><br>
                            {% if order.street_address2 %}
                                <small class="mb-0 text-dark fw-bold">Address 2: {{ order.street_address2 }} </small><br>
                            {% endif %}
                            {% if order.county %}
                                <small class="mb-0 text-dark fw-bold">County: {{ order.county }}</small><br>
                            {% endif %}
                            <small class="mb-0 text-dark fw-bold">Town or City: {{ order.town_or_city }}</small><br>
                            {% if order.postcode %}
                                <small class="mb-0 text-dark fw-bold">Postal Code: {{ order.postcode }}</small><br>
                            {% endif %}
                            <small class="mb-0 text-dark fw-bold">Country: {{ order.country }}</small><br>
                            <small class="mb-0 text-dark fw-bold">Phone Number: {{ order.phone_number }}</small><br>
                            <hr>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small class="text-muted text-uppercase"><i class="fa-solid fa-credit-card"></i> Billing Info:</small>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 col-md-4">
                            <small class="mb-0 text-dark fw-bold">Order Total: {{ order.order_total }}</small><br>
                            <small class="mb-0 text-dark fw-bold">Delivery: {{ order.delivery_cost }}</small><br>
                            <small class="mb-0 text-dark fw-bold">Grand Total: {{ order.grand_total }}</small><br>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
			<div class="col-12 col-md-6 text-center">
                {% if from_profile %}
                    <a href="{% url 'profile' %}" class="btn btn-dark rounded my-2">
                        <span class="icon mr-2">
                            <i class="fas fa-angle-left"></i>
                        </span>
                        <span class="text-uppercase">Back to Profile</span>
                    </a>
                {% else %}
                    <a href="{% url 'products' %}?offers=True" class="btn btn-dark my-2">
                        <span class="icon mr-2">
                            <i class="fa-solid fa-sack-dollar"></i>
                        </span>
                        <span class="text-uppercase">Now check out our offers!</span>
                    </a>
                {% endif %}
			</div>
		</div>
    </div>
{% endblock %}