{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container margin-top">
        <div class="row justify-content-center">
            <div class="col-xs-12 col-md-6 col-xxl-4">
                <h1 class="mt-2 text-center"><i class="fa-solid fa-users"></i><br>Welcome to our community!</h1>
                <p class="text-center">Joining our community offers you the opportunity to:</p>
                <ul class="text-start">
                    <li class="p-1"><i class="fa-solid fa-star"></i> Stay updated with our <em>Newsletter</em> by subscribing</li>
                    <li class="p-1"><i class="fa-solid fa-star"></i> Submit <em>drawing suggestions</em></li>
                    <li class="p-1"><i class="fa-solid fa-star"></i> Simplify your <em>shopping experience</em></li>
                    <li class="p-1"><i class="fa-solid fa-star"></i> Keep track of <em>events</em> by saving them to your profile</li>
                    <li class="p-1"><i class="fa-solid fa-star"></i> Engage with our <em>"WHY ART"</em> blog posts</li>
                </ul>
                <p class="text-center"> Let's explore how to become a part of this!<br><i class="fa-solid fa-chevron-down"></i></p>
            </div>
        </div>
        <div class="row text-center m-5">
            <div class="col-12 col-lg-6">
                <h4><i class="fa-regular fa-newspaper"></i> Subscribe to our Newslettler! </h4>
                <p> Subscribe with your email here to receive our newsletter. <br>
                    Stay updated with the latest news! Be the first to know about sales, <br>
                    new products, blog posts, and features!
                </p>
                <div id="mc_embed_shell">
                    <div id="mc_embed_signup">
                        <form action="https://gitpod.us22.list-manage.com/subscribe/post?u=7b60c1310639b0aa34d4ad703&amp;id=45e815ff99&amp;f_id=00bdcfe1f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
                            <div id="mc_embed_signup_scroll">
                                <div class="indicates-required"><span class="asterisk">*</span> indicates required</div>
                                <div class="mc-field-group"><label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label><input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value=""></div>
                            <div id="mce-responses" class="clear foot">
                                <div class="response" id="mce-error-response" style="display: none;"></div>
                                <div class="response" id="mce-success-response" style="display: none;"></div>
                            </div>
                            <div aria-hidden="true" style="position: absolute; left: -5000px;">
                                /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                                <input type="text" name="b_7b60c1310639b0aa34d4ad703_45e815ff99" tabindex="-1" value="">
                            </div>
                                <div class="optionalParent">
                                    <div class="clear foot">
                                        <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                                        <p style="margin: 0px auto;"><a href="http://eepurl.com/iQ9y-U" title="Mailchimp - email marketing made easy and fun"><span style="display: inline-block; background-color: transparent; border-radius: 4px;"><img class="refferal_badge" src="https://digitalasset.intuit.com/render/content/dam/intuit/mc-fe/en_us/images/intuit-mc-rewards-text-dark.svg" alt="Intuit Mailchimp" style="width: 220px; height: 40px; display: flex; padding: 2px 0px; justify-content: center; align-items: center;"></span></a></p>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

            <div class="col-12 col-lg-6">
                <img src="{{ MEDIA_URL }}community/newsletter.gif" alt="Some example newsletter titles" class="suggestion-img">
            </div>

        </div>
        <hr>
        <div class="row text-center m-5">
            <div class="col-12 col-lg-6">
                <img src="{{ MEDIA_URL }}community/suggestions.png" alt="many boxes with user's example sugestions" class="suggestion-img">
            </div>
            <div class="col-12 col-lg-6">
                <h4><i class="fa-solid fa-message"></i> Submit drawing suggestions </h4>
                <p> Registered users have the opportunity to submit drawing suggestions.<br>
                    Each month, I'll randomly select one suggestion to bring to life!!<br>
                </p>
                <a href="{% url 'products' %}?community=True" class="btn btn-dark pt-0"> Check out some<br> community suggestions!</a>
                <p class="mt-3">
                    <i class="fa-solid fa-circle-exclamation fa-lg" style="color: #f7b801;"></i><br>
                    If your suggestion is chosen, you'll receive a free copy.<br>
                    If you're lucky, you'l get an <em>unique handmande art</em>!<br>
                    For the rest of our community, we are committed to providing <br>
                    <em>affordable art</em>. Each community-suggested drawing is priced <br>
                    at just <i class="fa-solid fa-euro-sign fa-xs"></i>10!
                </p>
                {% if user.is_authenticated  %}
                    <a href="{% url 'recommend' %}" class="btn btn-dark btn-community">Send a Suggestion now!</a> 
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-dark btn-community">register to send a suggestion</a>
                {% endif %}
            </div>
        </div>
        <hr>
        <div class="row text-center m-5">
            <div class="col-12 col-lg-6">
                <h4><i class="fa-solid fa-calendar-days"></i> Keep track of our events </h4>
                <p> Discover an array of exciting events I'm participating! 
                    <br> Explore comprehensive event details including dates, locations, <br>
                    and whether they're virtual or in-person, all at your fingertips. <br>
                    <i class="fa-solid fa-right-to-bracket"></i> By registering on the website, you unlock the ability to effortlessly <br>
                    bookmark events for future reference directly on your profile. <br>
                </p>
                <a href="{% url 'event_list' %}" class="btn btn-dark">Go to Events</a>
            </div>
            <div class="col-12 col-lg-6">
                <img src="{{ MEDIA_URL }}community/events.png" alt="calendars with example events titles" class="suggestion-img">
            </div>
        </div>
        <hr>
        <div class="row text-center m-5">
            <div class="col-12 col-lg-6">
                <img src="{{ MEDIA_URL }}community/wishlist.png" alt="random drawings with a heart on the bottom right corner" class="suggestion-img">
            </div>
            <div class="col-12 col-lg-6">
                <h4><i class="fa-solid fa-cart-shopping"></i> Simplify your shopping experience </h4>
                <ul>
                    <li class="p-1"><i class="fa-brands fa-gratipay"></i><br> Registered users have the option to save products to their wishlist,
                        allowing them to keep track of items they're interested in and make conscious purchasing decisions.</li>
                    <li class="p-1"><i class="fa-solid fa-truck-fast"></i><br> Additionally, you can save your delivery information for future orders,
                        streamlining the checkout process.</li>
                    <li class="p-1"><i class="fa-solid fa-clock-rotate-left"></i><br> You can also keep track of your order history!</li>
                </ul>
                {% if user.is_authenticated  %}
                    <a href="{% url 'profile' %}" class="btn btn-dark mb-2">Go to your profile</a> 
                {% else %}
                    <a href="{% url 'account_signup' %}" class="btn btn-dark  mb-2">Register now!</a>
                {% endif %}
            </div>
        </div>
    </div> 
{% endblock %}

{% block postloadjs %}


<script type="text/javascript" src="//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js"></script>
<script type="text/javascript">(function($) {window.fnames = new Array(); window.ftypes = new Array();fnames[0]='EMAIL';ftypes[0]='email';fnames[1]='FNAME';ftypes[1]='text';fnames[2]='LNAME';ftypes[2]='text';fnames[3]='ADDRESS';ftypes[3]='address';fnames[4]='PHONE';ftypes[4]='phone';fnames[5]='BIRTHDAY';ftypes[5]='birthday';}(jQuery));var $mcj = jQuery.noConflict(true);</script></div>
{% endblock %}

{% block extra_css %}
    <link href="//cdn-images.mailchimp.com/embedcode/classic-061523.css" rel="stylesheet" type="text/css">
{% endblock %}
