{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid fst-section mt-5">
        <div class="row">
            <div class="col text-center">
                <p><span class="text-uppercase">Hi!<br></span> community page</p>
            </div>

            <div class="col">
                <p><span class="text-uppercase">Hi!<br></span> My name is Nathalia and I sell my art! <br> You can see (and buy) <br>my drawings here:</p>
            </div>
        </div>
    </div>

    <!-- home page second section -->
    
{% endblock %}