html {
    height: 100%;
}

body {
    background-color: white;
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    color: black;
}

.fst-section {
    font-size: 3em;
    margin-left: 3em;
}

.knowme-image {
    max-width: 10em;
}

.btn-home {
    width: 15em;
    text-transform: uppercase;
    height: 4em;
    font-weight: bold;
}

.scd-section {
    background-image: url('/media/home/scd_section.png');
    background-size: cover;
    height: 100vh;
    font-size: 2em;
}

.trd-section {
    background-image: url('/media/home/trd_section.png');
    background-size: cover;
    background-color: #9684A1;
    color: white;
    height: 12em;
    font-size: 2em;
    padding-bottom: 4em;
    padding-top: 2em;
}

.fth-section {
    background-color: #9684A1;
    color: white;
    font-size: 2em;
    padding-bottom: 2em;
    padding-top: 2em;
}

.margin-offers-image {
    margin-top: 4em;
    margin-left: 5em;
    margin-right: 2em;
}

.margin-offers-text {
    margin-top: 2em;
    margin-left: 5em;
    margin-right: 2em;
}

.offers-image {
    max-width: 10em;
}

.offers-text {
    background-color:black;
    color: white;
    border-radius: 10px;
    padding: 10px;
}

.margin-trd-section{
    margin-top: 3em;

}

.logo-img {
    max-width: 15em;
}

.btn-products {
    margin: 1em 0em;
    /* max-width: 10em; */
    min-width: 8em;
}

.btn-buynow {
    background-color: #9684A1;
    text-transform: uppercase;
    border: none;
    min-width: 20em;
}

.margin-product-list {
    margin-left: 8em;
    margin-right: 8em;
}

.card-product {
    border: solid 1px #AAACB0;
    border-radius: 10px;
    padding: 10px;
    margin-left: 10px;
    max-width: 23em;
}

.message-container {
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 99999999999;
}

.custom-toast {
    overflow: visible;
}

.toast-capper {
    height: 2px;
}

/* Convenience classes - colors from Bootstrap 5 */
.arrow-primary {
    border-bottom-color: #0d6efd !important; /* Bootstrap 5 primary color */
}

.arrow-secondary {
    border-bottom-color: #6c757d !important; /* Bootstrap 5 secondary color */
}

.arrow-success {
    border-bottom-color: #198754 !important; /* Bootstrap 5 success color */
}

.arrow-danger {
    border-bottom-color: #dc3545 !important; /* Bootstrap 5 danger color */
}

.arrow-warning {
    border-bottom-color: #ffc107 !important; /* Bootstrap 5 warning color */
}

.arrow-info {
    border-bottom-color: #0dcaf0 !important; /* Bootstrap 5 info color */
}

.arrow-light {
    border-bottom-color: #f8f9fa !important; /* Bootstrap 5 light color */
}

.arrow-dark {
    border-bottom-color: #212529 !important; /* Bootstrap 5 dark color */
}

.bag-notification-wrapper {
    height: 100px;
    overflow-x: hidden;
    overflow-y: auto;
}

/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.shop-now-button {
    background: black;
    color: white;
    min-width: 260px;
}

.btn-black {
    background: black;
    color: white;
}

.shop-now-button:hover,
.shop-now-button:active,
.shop-now-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white;
}

.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

li {
    list-style: none;
}

.btn-top {
    background-color: #000000;
    text-decoration: none;
    height: 4em;
    width: 4em;
    border-radius: 100%;
    align-items: center;
}

.btn-top:hover {
    background-color: #AAACB0;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}

/* pad the top a bit when navbar is collapsed on mobile */
@media (max-width: 991px) {
    .header-container {
        padding-top: 116px;
    }

    body {
        height: calc(100vh - 116px);
    }
}