{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
    <div class="container container-404 margin-top">
        <div class="row">
            <div class="col-12 col-md-4 mt-md-5 justify-content-end">
                <img src="{{ MEDIA_URL }}404.png" alt="page not found icon" class="image-404">
            </div>
            <div class="col-12 col-md-6 mt-5">
                <h1>OOPS!</h1>
                <h3 class="display-4 logo-font text-dark">
                    The page you are looking for isn't available.
                </h3>
                <div class="my-5">
                    <h4>
                        <a href="{% url 'products' %}" 
                            class=" btn btn-dark text-uppercase py-3">
                            <i class="fa-solid fa-bag-shopping"></i> Return to shop
                        </a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}