<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav me-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                All Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="#" class="dropdown-item">By Price</a></li>
                <li><a href="#" class="dropdown-item">By Rating</a></li>
                <li><a href="#" class="dropdown-item">By Category</a></li>
                <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="clothing-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Canvas
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <li><a href="#" class="dropdown-item">Lanscape</a></li>
                <li><a href="#" class="dropdown-item">Pessoas</a></li>
                <li><a href="#" class="dropdown-item">Animals</a></li>
                <li><a href="#" class="dropdown-item">St. Patrick's Day</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black me-5" href="#" id="homeware-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Cards
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <li><a href="#" class="dropdown-item">Birthday</a></li>
                <li><a href="#" class="dropdown-item">Christmas</a></li>
                <li><a href="#" class="dropdown-item">St. Patrick's Day</a></li>
                <li><a href="#" class="dropdown-item">Valentine's Day</a></li>
                <li><a href="#" class="dropdown-item">Easter</a></li>
                <li><a href="#" class="dropdown-item">Others/all</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Personalised Designs
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="#" class="dropdown-item">What it is</a></li>
                <li><a href="#" class="dropdown-item">Order</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font font-weight-bold nav-link text-black" href="#" id="specials-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
        </li>
    </ul>
</div>
