<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav me-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="all-products-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Products
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="all-products-link">
                <li><a href="{% url 'products' %}?sort=price&direction=asc" class="dropdown-item">By Lowest Price</a></li>
                <li><a href="{% url 'products' %}?sort=rating&direction=desc" class="dropdown-item">By Highest Rating</a></li>
                <li><a href="{% url 'products' %}" class="dropdown-item">All Products</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="clothing-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Category
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="categories-link">
                <li><a href="{% url 'products' %}?category=christmas" class="dropdown-item">Christmas</a></li>
                <li><a href="{% url 'products' %}?category=family" class="dropdown-item">Family</a></li>
                <li><a href="{% url 'products' %}?category=thank_you" class="dropdown-item">Thank You</a></li>
                <li><a href="{% url 'products' %}?category=valentines_day" class="dropdown-item">Valentine's Day</a></li>
                <li><a href="{% url 'products' %}?category=mothers_day" class="dropdown-item">Mother's Day</a></li>
                <li><a href="{% url 'products' %}?category=fathers_day" class="dropdown-item">Father's Day</a></li>
                <li><a href="{% url 'products' %}?category=easter" class="dropdown-item">Easter</a></li>
                <li><a href="{% url 'products' %}?category=congratulations" class="dropdown-item">Congratulations</a></li>
                <li><a href="{% url 'products' %}?category=abstract" class="dropdown-item">Abstract</a></li>
                <li><a href="{% url 'products' %}?category=plants" class="dropdown-item">Plants</a></li>
                <li><a href="{% url 'products' %}?category=animal" class="dropdown-item">Animal</a></li>
                <li><a href="{% url 'products' %}?category=portrait" class="dropdown-item">Portraits</a></li>
                <li><a href="{% url 'products' %}?category=landscape" class="dropdown-item">Landscape</a></li>
            </ul>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black me-5" href="#" id="homeware-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Main Materials
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="homeware-link">
                <li><a href="{% url 'products' %}?digital=True" class="dropdown-item">Digital</a></li>
                <li><a href="{% url 'products' %}?paint=Watercolor" class="dropdown-item">Watercolor</a></li>
                <li><a href="{% url 'products' %}?surface=Card" class="dropdown-item">Card</a></li>
                <li><a href="{% url 'products' %}?material=Ink Pens" class="dropdown-item">Ink Pen</a></li>
                <li><a href="{% url 'products' %}?material=Coloured Pencil" class="dropdown-item">Coloured Pencil</a></li>
            </ul>
        </li>

        <li class="nav-item">
            <a class="nav-link logo-font fw-bold text-black" href="{% url 'community' %}">Community</a>
        </li>

        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Special Offers
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="{% url 'products' %}?offers=True" class="dropdown-item text-uppercase" id="specials-link">Sale</a></li>
                <li><a href="{% url 'products' %}?community=True" class="dropdown-item">Community Suggestions</a></li>
            </ul>
        </li>
        <li class="nav-item dropdown">
            <a class="logo-font fw-bold nav-link text-black" href="" id="specials-link" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                About
            </a>
            <ul class="dropdown-menu border-0" aria-labelledby="specials-link">
                <li><a href="{% url 'about_me' %}" class="dropdown-item">About the artist</a></li>
                <li><a href="{% url 'recommend' %}" class="dropdown-item">Blog Why Art</a></li>
            </ul>
        </li>
        
    </ul>
</div>
