{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
  <div class="container margin-top">
    <div class="row m-5">
      <div class="col-12 col-lg-6 margin-top text-center">
        {% if post.image %}
            <img class="image-container img-thumbnail" src="{{ post.image.url }}" alt="{{ post.title }}">
        {% else %}
            <img class="image-container img-thumbnail" src="{{ MEDIA_URL }}noimage.png" alt="broken image - no image to display">
        {% endif %}
        <hr>
        <div class="d-none d-md-block">
          <div class="d-flex justify-content-center">
            {% if about_me and about_me.image %}
              <img src="{{ about_me.image.url }}" alt="artist photo" class="artist-photo-blog col-6">
            {% else %}
                <img src="{% static 'noimage.png' %}" alt="broken image - no image to display" class="artist-photo-blog col-6">
            {% endif %}
            <p class="text-muted mt-4">Written by {{ post.author }} </p>
          </div>
          <div class="text-center mt-3">
            <p class="text-muted"> Curious to learn more about the author behind the post? <br><a href="{% url 'about_me' %}">Learn more about the artist</a></p>
            <a class="btn btn-outline-dark mb-2 mt-2 justify-content-center" href="{% url 'blog' %}">Back to all posts</a> 
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-6 mt-5">
        <h1 class="post-title">{{ post.title }}</h1>
        <hr>
        <div class="card card-body post-card">
          {{ post.content | safe }}
          <span class="text-muted mt-3">{{ post.created_on }} </span>
          {% if post.learn_more_link1 or post.learn_more_link2 or post.learn_more_link3 or post.learn_more_link4 or post.learn_more_link5 %}
              <hr>
              <h5 class="m-4">Learn More</h5>
              <ul>
                  {% if post.learn_more_link1 %}<li><a href="{{ post.learn_more_link1 }}" target="_blank"><i class="fa-solid fa-star"></i> {{ post.learn_more_text1 }}</a></li>{% endif %}
                  {% if post.learn_more_link2 %}<li><a href="{{ post.learn_more_link2 }}" target="_blank"><i class="fa-solid fa-star"></i> {{ post.learn_more_text2 }}</a></li>{% endif %}
                  {% if post.learn_more_link3 %}<li><a href="{{ post.learn_more_link3 }}" target="_blank"><i class="fa-solid fa-star"></i> {{ post.learn_more_text3 }}</a></li>{% endif %}
              </ul>
          {% endif %}
        </div>
        {% if request.user.is_authenticated %}
          <form action="{% url 'like_post' slug=post.slug %}" method="post">
            {% csrf_token %}
            <button type="submit" class="like-btn mt-2">
              {% if request.user in post.like.all %}
                <i class="fa-solid fa-heart fa-beat-fade fa-xl"></i> {{ post.like.count }}
              {% else %}
                <i class="fa-regular fa-heart fa-beat-fade fa-xl"></i> {{ post.like.count }}
              {% endif %}
            </button>
          </form>
        {% else %}
          <p><a href="{% url 'account_login' %}" class="login-text"><i class="fa-solid fa-right-to-bracket"></i> Login</a> to like the post!</p>
        {% endif %}
      </div>
      <!-- written by section for medium and small devices -->
      <div class=" col-12 mt-3 d-block d-md-none">
        <hr>
        <div class="d-flex justify-content-center">
          {% if about_me and about_me.image %}
              <img src="{{ about_me.image.url }}" alt="artist photo" class="artist-photo-blog col-6">
          {% else %}
              <img src="{% static 'noimage.png' %}" alt="broken image - no image to display" class="artist-photo-blog col-6">
          {% endif %}
          <p class="text-muted mt-4">Written by {{ post.author }} </p>
        </div>
        <div class="text-center mt-3">
          <p class="text-muted"> Curious to learn more about the author behind the post? <br><a href="{% url 'about_me' %}">Learn more about the artist</a></p>
          <a class="btn btn-outline-dark mb-2 mt-2 justify-content-center" href="{% url 'blog' %}">Back to all posts</a> 
        </div>
      </div>
  </div>
{% endblock %}