{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <h1 class="text-center mt-3">About the Artist</h1>
        {% if request.user.is_superuser %}
            <small class="ml-3 text-center m-2">
                <a href="{% url 'edit_about_me' %}" class="btn btn-info p-1">Edit</a>
            </small>
        {% endif %}
        <hr>
    </div>
    <div class="row">
        {% for about_me in about %}
            <div class="row text-center">
                {% if about_me.image %}
                    <img src="{{ about_me.image.url }}" alt="artist photo" class="artist-photo col-6">
                {% else %}
                    <img src="{% static 'media/1.jpg' %}" alt="backup artist photo" class="artist-photo col-6">
                {% endif %}
                <div class="col-6 about-artist">
                    <ul class="text-start ml-1">
                        <li><i class="fa-solid fa-location-dot"></i> Brazilian in Ireland</li>
                        <li><i class="fa-solid fa-person-breastfeeding" style="color: #990070;"></i> Mum to Thomas</li>
                        <li><i class="fa-solid fa-palette" style="color: #f7b801;"></i> Artist</li>
                        <li><i class="fa-solid fa-gamepad" style="color: #270490;"></i> Gamer</li>
                        <li><i class="fa-solid fa-tree" style="color: #2e511f;"></i> Nature Lover</li>
                        <li><i class="fa-solid fa-utensils" style="color: #cc0000;"></i> Master Chef</li>
                    </ul>
                </div>
            </div>
            <div class="col-12 col-md-12 col-sm-6">
                <h3 class="text-center">{{ about_me.title }}</h3>
                <p>{{ about_me.content }} </p>
                <p>With love, <br>{{ about_me.artist }} </p>
            </div>
        {% endfor %}
    </div>
    <div class="row justify-contents-center">
        <p>My recommendations:</p>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="{% url 'products' %}?digital=True" class="dropdown-item items-site digital">Digital Creations</a>
        </div>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="{% url 'products' %}?community=True" class="dropdown-item items-site community">Community <br>Suggestions</a>
        </div>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="{% url 'products' %}?paint=Watercolor" class="watercolor dropdown-item items-site">Made w/ <br>Watercolor</a>
        </div>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="{% url 'products' %}?offers=True" class="dropdown-item items-site special">Special Offers</a>
        </div>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="#" class="dropdown-item items-site blog">Why Art Blog</a>
        </div>
        <div class="col-12 col-md-6 col-sm-2">
            <a href="#" class="dropdown-item items-site favorites">Something<br> Here</a>
        </div>
    </div>
</div>

{% endblock %}