{% extends "base.html" %}
{% load static %}
{% load bag_tools %}
{% load crispy_forms_tags %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <!-- <div class="container-fluid text-center mt-5">
            <h1 class="text-uppercase mt-2">Order your personalised design now</h1>            
            <p>You don't know how it works? Click <a href="{% url 'personalised' %}">here</a> for more information</p>

        </div>
    </div>
    
    <div class="container-fluid text-center mt-5">
        <div class="row">
            <p class="text-muted">Please fill out the form below to complete your order</p>
            <form action="" method="POST">
                {% csrf_token %}
                {{ personalised_order_form|crispy }}
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div> -->

    

    
{% endblock %}

