{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid text-center mt-5">
        <div class="row-12">
            <h1 class="text-uppercase mt-2">personalised designs</h1>
            <a class="btn" data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
                <p>You can also order a personalised design! <br> Click here and find out how this works</p>
                <br><i class="fa-solid fa-angle-down fa-2xl"></i>
            </a>
            <!-- <p><br><i class="fa-solid fa-angle-down fa-2xl"></i></p> -->
        </div>
    </div>

    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="container-fluid text-center mt-5">
                <div class="row">
                    <p class="personalised-section">
                        With a personalised design I can bring a unique approach to every project, 
                        combining creativity with attention to the consumer's vision and needs.
                        From conceptualization to execution, we immerse ourselves in understanding your preferences, 
                        ensuring that each creation is a true reflection of your style and personality. 
                        By infusing passion and expertise into every stroke, 
                        we transform ideas into captivating visuals that resonate with your audience. 
                    </p>
                </div>
                <div class="row mt-5">
                    <p class="personalised-section">
                        The base price starts at <span class="price"><i class="fa-solid fa-euro-sign"></i> 10</span> <br> with additional charges for each item included:
                    </p>
                </div>
                <div class="row">
                    <div class="table-responsive personalised-table">
                        <table class="table align-middle table-border">
                          <thead>
                            <tr class="fw-bolder">
                                <td><i class="fa-solid fa-images"></i> Object</td>
                                <td><i class="fa-solid fa-question"></i> What it is</td>
                                <td><i class="fa-solid fa-list"></i> Option</td>
                                <td><i class="fa-solid fa-euro-sign"></i> Price</td>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                                <td><i class="fa-solid fa-ruler-combined"></i><br> The size of the design:</td>
                                <td>It's the size of the paper</td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> 1 - A4</li>
                                        <li class="mt-2"> 2 - A5</li>
                                        <li class="mt-2"> 3- A6</li>
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> + 5 eur</li>
                                        <li class="mt-2"> + 4 eur</li>
                                        <li class="mt-2"> + 3 eur</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa-regular fa-note-sticky fa-2xl mt-5"></i><br> The type of paper:</td>
                                <td>It's the type of the paper</td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> 1 - Textured</li>
                                        <li class="mt-2"> 2 - Smooth</li>
                                        <li class="mt-2"> 3 - Tan</li>
                                        <li class="mt-2"> 4 - Black</li>
                                        
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> + 3 eur</li>
                                        <li class="mt-2"> + 1 eur</li>
                                        <li class="mt-2"> + 2 eur</li>
                                        <li class="mt-2"> + 2 eur</li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-crop-simple fa-2xl mt-5"></i><br> If you want it framed:</td>
                                <td>It's if you wanted it framed</td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> 1 - White</li>
                                        <li class="mt-2"> 2 - Black</li>
                                        <li class="mt-2"> 3 - Brown</li>
                                        <li class="mt-2"> 4 - No frame</li>                   
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> + 1 eur</li>
                                        <li class="mt-2"> + 1 eur</li>
                                        <li class="mt-2"> + 1 eur</li>
                                        <li class="mt-2"><i class="fa-regular fa-circle-xmark"></i></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><i class="fa-solid fa-people-line fa-2xl mt-5 mb-5"></i><br> Nº of subjects:</td>
                                <td>Number od characters balbla blabalbalbalbala</td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> As many you would like</li>          
                                    </ul>
                                </td>
                                <td>
                                    <ul>
                                        <li class="mt-2"> + 1 eur per each</li>
                                    </ul>
                                </td>
                            </tr>
                          </tbody>
                        </table>
                    </div>
                    <p class="personalised-section">
                        You may also include a picture and text with your order.
                    </p>
                </div>
                
            </div>
            <div class="container-fluid mt-5">
                <div class="row mt-5 text-center">
                    <h3>Practical Example</h3>
                    <p>See an order example from a dear client:</p>
                </div>
                <div class="row mt-5 margin-example">
                    <div class="col-6">
                        <p class="text-uppercase text-center">Order text</p>
                        <p class="personalised-example text-center">
                            "I'm interested in commissioning a whimsical watercolor illustration of my family. 
                            For the depiction, I envision myself wearing a cheerful yellow sweatshirt, reflecting my fondness for the color, 
                            while my baby is portrayed in a soothing purple hue. As for my husband, a cool blue sweatshirt would be perfect, 
                            mirroring his favorite color. Symbolism holds great significance for us, so incorporating meaningful elements is essential. 
                            I envision my baby with arms raised high, capturing his joyful spirit. 
                            In the background, I'd love to see a representation of the succulent plants we nurture at home, a
                            longside two golden fish, symbolic of our pet companions. 
                            Adding a sprinkling of stars would be delightful, as stargazing is a cherished activity we enjoy together."
                        </p>
                    </div>
                    <div class="col-6 text-center">
                        <p class="text-uppercase">Her choices</p>
                        <div class="table-responsive">
                            <table class="table align-middle table-border">
                              <thead>
                                <tr class="fw-bolder">
                                    <td><i class="fa-solid fa-images"></i> Object</td>
                                    <td><i class="fa-solid fa-list"></i> Option</td>                                   
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                    <td><i class="fa-solid fa-ruler-combined"></i><br> Size</td>
                                    <td> A6 </td>
                                </tr>
                                <tr>
                                    <td><i class="fa-regular fa-note-sticky"></i><br> Paper</td>
                                    <td> Textured </td>
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-crop-simple"></i><br> Frame</td>                          
                                    <td> No frame</td>                        
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-people-line"></i><br> Subjects</td>
                                    <td> 4<br>mum, dad, baby and background </td>
                                    
                                </tr>
                                <tr>
                                    <td><i class="fa-solid fa-euro-sign"></i> Total Price</td> 
                                    <td> 10 +3 + 3 + 4 = 20 eur</td> 
                                </tr>
                              </tbody>
                            </table>
                          </div>
                    </div>
                </div>
                <div class="row-12 mt-5 text-center">
                    <p>She also sent me a picture of them so I could have some reference. <br>And this is the final result:</p>
                    <img src="{{ MEDIA_URL }}personalised/personalised.png" alt="personalised design example" class="personalised-img img-fluid img-thumbnail">
                </div>
            </div>
        
            <div class="container-fluid mt-5 text-center">
                
                <div class="row-6">
                    <a href="#" class="btn btn-dark btn-home mb-5" style="font-family: 'quicksand', sans-serif;;"><br> Order now!</a>
                </div>
                <div class="row-12">
                    <p> 
                        If you're not sure yet about your order, don't worry! <br>
                        Send me a message and I'll help you to figure it out before ordering.<br>
                        <i class="fa-solid fa-arrow-down fa-xl m-4"></i>
                    </p>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}

