{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div class="image-container mt-5">
                    {% if product.offers %}
                        <p class="on-sale"><i class="fa-solid fa-circle-exclamation fa-sm"></i> on sale</p>                   
                    {% endif %}
                    {% if product.community %}
                        <p class="on-community"><i class="fa-solid fa-circle-exclamation fa-sm"></i> community suggestion</p>                    
                    {% endif %}
                    {% if product.image %}
                        <a href="{{ product.image.url }}" target="_blank">
                            <img class="card-img-top img-fluid img-thumbnail" src="{{ product.image.url }}" alt="{{ product.name }}">
                        </a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-fluid img-thumbnail" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                        </a>
                    {% endif %}
                </div>
            </div>
            <div class="col-6">
                <div class="row product-details-container mb-5 mt-md-5">
                    <p class="mb-0">{{ product.name }}</p>
                    {% if product.offers %}
                        <p>
                            <span class="discount-price">It was: <i class="fas fa-euro-sign fa-xs"></i> {{ product.price }} <br></span>
                            <span class="new-price">Now is only <i class="fas fa-euro-sign fa-xs"></i> {{ product.price|discount:15 }}!</span>
                        </p>
                    {% else %}
                        <p class="lead mb-0 text-left fw-bold"><i class="fas fa-euro-sign fa-xs"></i> {{ product.price }}</p>
                    {% endif %}
                    {% if product.rating %}
                        <small class="text-muted"><i class="fas fa-star me-1"></i>{{ product.rating }} / 5</small>
                    {% else %}
                        <small class="text-muted">No rating yet</small>
                    {% endif %}
                    <p class="mt-3">{{ product.description }} </p>
                    {% if product.producttags %}
                        <p class="mt-3">
                            <table class="table table-sm text-center table-striped">
                                <caption>Product Specifications</caption>
                                <thead>
                                <tr>
                                    <th><i class="fa-solid fa-fill-drip"></i><br>Paints</th>
                                    <th><i class="fa-solid fa-pen-ruler"></i><br>Other materials</th>
                                    <th><i class="fa-regular fa-note-sticky"></i><br>Paper</th>
                                    <th><i class="fa-solid fa-crop-simple"></i><br>Frame</th>
                                    <th><i class="fa-solid fa-chess-board"></i><br>Surface</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>
                                            {% for paint in product.producttags.paint.all %}
                                            <li>{{ paint.name }}</li>
                                            {% endfor %}    
                                        </td>
                                        <td>
                                            {% for material in product.producttags.materials.all %}
                                            <li>{{ material.name }}</li>
                                            {% endfor %}    
                                        </td>
                                        <td>
                                            {% for paper in product.producttags.paper.all %}
                                            <li>{{ paper.name }}</li>
                                            {% endfor %}    
                                        </td>
                                        <td>
                                            {% for frame in product.producttags.frame.all %}
                                            <li>{{ frame.name }}</li>
                                            {% endfor %}    
                                        </td>
                                        <td>
                                            {% for surface in product.producttags.surface.all %}
                                            <li>{{ surface.name }}</li>
                                            {% endfor %}    
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                    {% else %}
                        <p class="text-uppercase"><i class="fa-solid fa-circle-exclamation fa-xl" style="color: #f7b801;"></i> digital art</p>
                        <p> You'll can buy this digital art and it will be printed on and will be printed on card paper, 
                            A4 size, landscape or portrait (according to the orientation in the picture).</p>
                    {% endif %}
                    <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col-12">
                                <p><strong>Quantity:</strong></p>
                                <div class="form-group w-50">
                                    <div class="input-group input-group-{{ product.id }}">
                                        <div class="input-group-prepend">
                                            <button class="decrement-qty btn btn-dark decrement-qty_{{ product.id }}" 
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-minus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input class="form-control qty_input id_qty_{{ product.id }}" type="number"
                                            name="quantity" value="1" min="1" max="99"
                                            data-item_id="{{ product.id }}">
                                        <div class="input-group-append">
                                            <button class="increment-qty btn increment-qty_{{ product.id }}"
                                                data-item_id="{{ product.id }}">
                                                <span class="icon">
                                                    <i class="fas fa-plus"></i>
                                                </span>
                                            </button>
                                        </div>
                                        <input type="submit" class="btn btn-dark btn-products" value="Add to Bag">
                                        <input type="hidden" name="redirect_url" value="{{ request.path }}" class="btn btn-dark btn-products">
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </form>
                    <div class="d-flex">
                        {% if product_in_wishlist %}
                            <a href="{% url 'remove_from_wishlist' product.id %}" class="btn btn-wish w-50"><i class="fa-solid fa-heart"></i> Remove <br>from Wishlist</a>
                        {% else %}
                            <form action="{% url 'add_to_wishlist' product.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-wish w-50"><i class="fa-regular fa-heart"></i> Add to Wishlist</button>
                            </form>
                        {% endif %}
                        <a href="{% url 'checkout' %}" class="btn btn-buynow text-uppercase w-50">
                            <i class="fa-solid fa-credit-card"></i> Buy now
                        </a>
                    </div>
                    <a href="{% url 'products' %}" >
                        <span class="btn btn-dark btn-products"><i class="fas fa-chevron-left"></i> Keep Shopping</span>
                    </a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}

{% block postloadjs %}
{{ block.super }}
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}
