{% extends "base.html" %}
{% load static %}
{% load bag_tools %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container-fluid">
        <div class="row mt-3">
            <div class="col justify-content-center margin-products">
                <h2 class="mt-5 text-uppercase">Products</h2>
                <p class="text-muted">
                    {% if search_term or current_categories or current_sorting != 'None_None' %}
                        <span class="small"><a href="{% url 'products' %}" class="btn btn-dark btn-products">All Products</a></span>
                    {% endif %}
                    {{ products|length }} Products{% if search_term %} found for <strong>"{{ search_term }}"</strong>{% endif %}
                </p>
            </div>
            <div class="col justify-content-center">
                <div class="row justify-content-end margin-sorting">
                    <div class="sort-select-wrapper sort-width">
                        <select id="sort-selector" class="form-select form-select-sm border border-{% if current_sorting != 'None_None' %}info{% else %}grey{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="price_asc" {% if current_sorting == 'price_asc' %}selected{% endif %}>Price (low to high)</option>
                            <option value="price_desc" {% if current_sorting == 'price_desc' %}selected{% endif %}>Price (high to low)</option>
                            <option value="rating_asc" {% if current_sorting == 'rating_asc' %}selected{% endif %}>Rating (low to high)</option>
                            <option value="rating_desc" {% if current_sorting == 'rating_desc' %}selected{% endif %}>Rating (high to low)</option>
                            <option value="name_asc" {% if current_sorting == 'name_asc' %}selected{% endif %}>Name (A-Z)</option>
                            <option value="name_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Name (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="product-container col-10 offset-1">
                    <div class="row">
                        {% for product in products %}
                            <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                                <div class="card h-100">
                                    {% if product.offers %}
                                        <p class="on-sale">on sale</p>                    
                                    {% endif %}
                                    {% if product.image %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ product.image.url }}" alt="{{ product.name }}">
                                    </a>
                                    {% else %}
                                    <a href="{% url 'product_detail' product.id %}">
                                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png" alt="{{ product.name }}">
                                    </a>
                                    {% endif %}
                                    <div class="card-body pb-0">
                                        <p class="mb-0">{{ product.name }}</p>
                                        {% if not product.producttags %}
                                            <p class="text-uppercase"><i class="fa-solid fa-circle-exclamation" style="color: #f7b801;"></i> digital art</p>
                                        {% endif %}
                                        {% if product.rating %}
                                            <small class="text-muted"><i class="fa fa-star"></i> {{ product.rating }} / 5</small>
                                        {% else %}
                                            <small class="text-muted">No Rating yet</small>
                                        {% endif %}
                                    </div>
                                    <div class="card-footer bg-white pt-0 border-0 text-left">
                                        <div class="row">
                                            <div class="col">
                                                {% if product.offers %}
                                                    <p>
                                                        <span class="discount-price">It was: <i class="fas fa-euro-sign fa-xs"></i> {{ product.price }} <br></span>
                                                        <span class="new-price">Now is only <i class="fas fa-euro-sign fa-xs"></i> {{ product.price|discount:15 }}!</span>
                                                    </p>
                                                {% else %}
                                                    <p class="lead mb-0 text-left fw-bold"><i class="fas fa-euro-sign fa-xs"></i> {{ product.price }}</p>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <div class="row text-center mt-2">
                                            <div class="col">
                                                <form class="form" action="{% url 'add_to_bag' product.id %}" method="POST">
                                                    {% csrf_token %}
                                                    <div class="col{% if s %}-12 mt-2{% endif %} text-center">
                                                        <input type="submit" class="btn btn-dark btn-products" value="Add to Bag">
                                                    </div>
                                                    <input type="number" class="form-control qty_input id_qty_{{ product.id }}" style="display: none;" name="quantity" value="1" min="1" max="99" data-item_id="{{ product.id }}">
                                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                                </form>
                                            </div>
                                            <div class="col">
                                                <a href="" class="btn btn-dark btn-products">
                                                    <i class="fa-solid fa-heart"></i> I want!
                                                </a>
                                            </div>
                                            <a href="{% url 'checkout' %}" class="btn btn-dark btn-buynow">
                                                <span class="text-uppercase"><i class="fa-solid fa-credit-card"></i> Buy now</span>
                                            </a>
                                        </div>
                                        <!-- <div class="row">
                                            <div class="col">
                                                {% if request.user.is_superuser %}
                                                    <small class="ml-3">
                                                        <a href="">Edit</a> | 
                                                        <a class="text-danger" href="">Delete</a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div> -->
                                    </div>
                                </div>
                            </div>
                            {% if forloop.counter|divisibleby:1 %}
                                <div class="col-12 d-sm-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}                        
                            {% if forloop.counter|divisibleby:2 %}
                                <div class="col-12 d-none d-sm-block d-md-block d-lg-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:3 %}
                                <div class="col-12 d-none d-lg-block d-xl-none mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                            {% if forloop.counter|divisibleby:4 %}
                                <div class="col-12 d-none d-xl-block mb-5">
                                    <hr>
                                </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <a href="#" class="d-flex justify-content-center btn-top offset-6">
            <i class="fa-solid fa-circle-arrow-up fa-2xl" style="color: #ffffff;"></i>
        </a>	
    </div>
{% endblock %}

{% block postloadjs %}
    {{ block.super }}
    <script type="text/javascript">
		$('.btt-link').click(function(e) {
			window.scrollTo(0,0)
		})
	</script>
    
    <script type="text/javascript">
        $('#sort-selector').change(function() {
            var selector = $(this);
            var currentUrl = new URL(window.location);

            var selectedVal = selector.val();
            if(selectedVal != "reset"){
                var sort = selectedVal.split("_")[0];
                var direction = selectedVal.split("_")[1];

                currentUrl.searchParams.set("sort", sort);
                currentUrl.searchParams.set("direction", direction);

                window.location.replace(currentUrl);
            } else {
                currentUrl.searchParams.delete("sort");
                currentUrl.searchParams.delete("direction");

                window.location.replace(currentUrl);
            }
        })
    </script>
{% include 'products/includes/quantity_input_script.html' %}
{% endblock %}